<section id="analyzer">
    <div class="container">
        <div class="row row-eq-height pt-4">
            <div class="col-12 col-sm-6" id="analyzer-left">
                <div id="bubble"></div>
            </div>
            <div class="col-12 col-sm-4 text-center" id="analyzer-right">
                <div class="svg-warped-face-container">
                    <svg class="w-100 h-100 rounded-circle shadow" id="svg-warped-face-box" viewport="0 0 1200 1200" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <svg id="svg-warped-face-1"  preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <image id="warped-face-1" class="w-100" href="../static/img/missing_face.svg"/>
                        </svg>
                        <svg id="svg-warped-face-2"  preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <image id="warped-face-2" class="w-100" href="../static/img/missing_face.svg"/>
                        </svg>
                        <svg  id="svg-warped-face-3" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <image id="warped-face-3" href="../static/img/missing_face.svg" width="100%"/>
                        </svg>
                        <use id="usebox-svg-warped-face-2" xlink:href="#svg-warped-face-2" />
                        <use id="usebox-svg-warped-face-1" xlink:href="#svg-warped-face-1" />
                    </svg>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                TODO: Connect the two slider
                <hr><br>

                <div class="row">
                    <div class="col-12">
                        <svg id="face_view_svg"  class="w-100 h-100" viewport="0 0 960 550" version="1.1" xmlns="http://www.w3.org/2000/svg"></svg>        
                    </div>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
