<section id="heatmap" class="shadow-lg">
    <div class="container">
        <div class="row row-eq-height pt-4">
            <div class="col-6 p-4">
                <div id="my_dataviz"></div>
            </div>
            <div class="col-6 p-4">
                <h2>Heat map</h2>
                <hr/>
                <p>

                    Modi quo qui assumenda commodi quod facere. Eaque aperiam voluptatem ipsam minima officia. Ut cum
                    magni quos. Qui aut dolor nulla ea sit delectus. Animi quis sint ad dicta. Provident repellat
                    officia rem officiis et voluptatibus.

                    Omnis aperiam sunt voluptates. Magni ipsa et quia et labore tempore soluta. Architecto sit corrupti
                    magnam. Est beatae impedit libero sit exercitationem exercitationem. Aut esse ut ex aut et qui at
                    totam.
                </p>
                <h2>Explore</h2>
                <hr/>
                <p>


                    Modi quo qui assumenda commodi quod facere. Eaque aperiam voluptatem ipsam minima officia. Ut cum
                    magni quos. Qui aut dolor nulla ea sit delectus. Animi quis sint ad dicta. Provident repellat
                    officia rem officiis et voluptatibus.

                    Omnis aperiam sunt voluptates. Magni ipsa et quia et labore tempore soluta. Architecto sit corrupti
                    magnam. Est beatae impedit libero sit exercitationem exercitationem. Aut esse ut ex aut et qui at
                    totam.

                    Optio earum quis distinctio dolorum quia qui. Ut eius et ullam. Fugit sit culpa corporis distinctio.
                </p>
            </div>
        </div>
    </div>
</section>
