<section id="splash">
    <div class="container">
        <div class="row h-100">
            <div class="col-4 col-md-6 align-self-center" id="splash-frame">
                <div class="framecontainer">
                    <svg class="facestyle w-100 h-100" id="faceframe" class="w-100 h-100" viewport="0 0 1200 1200" version="1.1" xmlns="http://www.w3.org/2000/svg">
                        <svg class="imgtop " id="overlay" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <image href="/static/img/century/14.jpg" x="225" y="225" width="750" height="750" />
                        </svg>
                        <svg  id="overlay2" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <image href="/static/img/century/19.jpg" x="225" y="225" width="750" height="750" />
                        </svg>
                        <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                            <image href="/static/img/frame.png" x="0" width="1200" />
                        </svg>
                        <use xlink:href="#overlay2" />
                        <use xlink:href="#overlay" />
                    </svg>
                </div>

            </div>
            <div class="col-6" id="splash-right">
                <div>
                    <h1>The OmniArt SkinTone Visualization</h1>
                    <p>Welcome to the OmniArt SkinTone. This project aims at analyzing the skin tone of portraits
                        included in the OmniArt dataset.</p>
                        <br/>
                </div>
                <br>
                <a href="#analyzer" class="btn btn-primary btn-lg">Read More</a>
            </div>
        </div>
    </div>
</section>