
/* 
 This is the main file.
*/
.area {
  fill: steelblue;
  clip-path: url(#clip);
}
  
.zoom {
  cursor: move;
  fill: none;
  pointer-events: all;
}

.focus{
    position:absolute;
    /* top:0px;
    left:50%;
    margin:auto; */
}

.focus image {
  -webkit-transition: opacity 5s ease-in-out;
  -moz-transition: opacity 5s ease-in-out;
  -o-transition: opacity 5s ease-in-out;
  transition: opacity 5s ease-in-out;
}

.focus image.transparent {
  opacity:0;
}
