<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../static/libs/roboto.css">
    <link rel="stylesheet" href="../static/libs/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap-custom.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/bubblechart.css">
    <link rel="stylesheet" href="../static/libs/bootstrap-select.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/multirange.css" />
    <link rel="stylesheet" type="text/css" href="../static/css/dropdown.css" />

    <script src="../static/libs/jquery-3.4.1.slim.min.js"></script>
    <script src="../static/libs/popper.min.js"></script>
    <script src="../static/libs//bootstrap.min.js"></script>
    <script src="../static/libs/scrollreveal.min.js"></script>
    <script src="../static/libs/d3.v5.min.js"></script>
    <script src="../static/libs/bootstrap-select.min.js"></script>
    <script type="text/javascript">
        d3.selectAll(".nav-item").classed("active", false);
        d3.select("#nav-link-d3").classed("active", true);
    </script>
    <!-- Contains the global filter logic -->
    <script type="text/javascript" src="../static/js/filter.js"></script>
    <script type="text/javascript" src="../static/js/splash.js"></script>
    <script type="text/javascript" src="../static/js/similarfaces.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top" id="top-navbar">
        <a class="navbar-brand" href="#">OmniArt SkinTone</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item"><a href="#">Home</a></li>
            </ul>
        </div>
    </nav>

    {% block body %} {% endblock %}

    {% include "filterbox.html" %}

    <script type="text/javascript" src="../static/js/heatmap.js"></script>
    <script type="text/javascript" src="../static/libs/d3-simple-slider.min.js"></script>
    <script type="text/javascript" src="../static/js/picslider.js"></script>
    <script type="text/javascript" src="../static/js/color_distribution.js"></script>
    <script type="text/javascript" src="../static/js/scroll_view.js"></script>
    <script type="text/javascript" src="../static/js/multirange.js"></script>
    
    <script>
        window.sr = ScrollReveal();
        sr.reveal('#top-navbar', {
            duration: 2000,
            origin: 'bottom'
        });
        sr.reveal('#splash-frame', {
            duration: 2000,
            origin: 'top',
            distance: '300px',
            delay: 1000,
            viewFactor: 0.2
        });
        sr.reveal('#splash-right', {
            duration: 2000,
            delay: 2000,
            origin: 'bottom'
        });
        sr.reveal('#analyzer-section', {
            duration: 2000,
            origin: 'top',
            distance: '300px',
            delay: 1000,
            viewFactor: 0.2
        });
    </script>

</body>

</html>