<nav id="filter-nav-bar" class="navbar navbar-expand-md pb-0 fixed-bottom">

    <div class="container bg-white rounded-top shadow-lg pb-1">

        <div class="row row-eq-height text-center">

            <div class="col-8">

                <div class="row row-eq-height align-items-center">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-12 p-2">
                                <div id="time_slider"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-start row-eq-height">
                    <div class="input-group col-12">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="input-group-timeslider-time">Timespan</label>
                        </div>
                        <select id="selectTimeButton" class="custom-select form-control form-control-sm"
                            id="input-group-timeslider-time">
                        </select>

                        <div class="input-group-prepend">
                            <label class="input-group-text" for="input-group-timeslider-dimension">Dimension</label>
                        </div>
                        <select class="custom-select form-control form-control-sm"
                            id="input-group-timeslider-dimension">
                            <option value="none" selected>None</option>
                            <option value="age">Age</option>
                            <option value="gender">Gender</option>
                            <option value="color-group">Color Group</option>
                        </select>
                        <div class="tab-content" id="nav-tabContent">
                            <div class="tab-pane tab-pane-dimension fade col-2" id="timeslider-dimension-list-none"
                                role="tabpanel">

                            </div>
                            <div class="tab-pane tab-pane-dimension fade" id="timeslider-dimension-list-age"
                                role="tabpanel">
                                <select onchange="timesliderDimensionValueChanged(this);"
                                    class="custom-select border-left-0 rounded-0 rounded-right form-control form-control-sm"
                                    id="timeslider-dimension-list-select-age">
                                </select>
                            </div>
                            <div class="tab-pane tab-pane-dimension fade" id="timeslider-dimension-list-gender"
                                role="tabpanel">
                                <select onchange="timesliderDimensionValueChanged(this);"
                                    class="custom-select border-left-0 rounded-0 rounded-right form-control form-control-sm"
                                    id="timeslider-dimension-list-select-gender">
                                    <!-- TODO: - feeds this like the other select boxes -->
                                    <option value="Female">Female</option>
                                    <option value="Male">Male</option>
                                </select>
                            </div>
                            <div class="tab-pane tab-pane-dimension fade" id="timeslider-dimension-list-color-group"
                                role="tabpanel">
                                <select onchange="timesliderDimensionValueChanged(this);"
                                    class="custom-select border-left-0 rounded-0 rounded-right form-control form-control-sm"
                                    id="timeslider-dimension-list-select-color-group">
                                    <!-- TODO: - feeds this like the other select boxes -->
                                    <option value="0" style="background-color: rgb(200, 155, 113);">Group 1</option>
                                    <option value="1" style="background-color: rgb(159, 102, 58);">Group 2</option>
                                    <option value="2" style="background-color: rgb(96, 62, 42);;">Group 3</option>
                                    <option value="3" style="background-color: rgb(165, 134, 111);;">Group 4</option>
                                    <option value="4" style="background-color: rgb(126, 88, 61);;">Group 5</option>
                                    <option value="5" style="background-color: rgb(177, 158, 144);;">Group 6</option>
                                    <option value="6" style="background-color: rgb(144, 113, 89);;">Group 7</option>
                                    <option value="7" style="background-color: rgb(207, 187, 168);;">Group 8</option>
                                    <!-- TODO: Maybe Color groups here already -->
                                    <option value="8" style="background-color: rgb(182, 127, 80);;">Group 9</option>
                                </select>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 mt-auto">
                <div class="row">
                    <div class="col-12">
                        <select id="detailfilter-control-age" class="mb-2" name="options[]" class="selectpicker"
                            multiple data-live-search="true" data-selected-text-format="count > 3"
                            data-actions-box="true">
                        </select>
                        <script>
                            $(function () {
                                $('#detailfilter-control-age').selectpicker({});
                                $("#detailfilter-control-age").selectpicker('selectAll');
                            });
                        </script>
                    </div>
                    <div class="col-12">
                        <select id="detailfilter-control-gender" class="mb-2" name="options[]" class="selectpicker"
                            multiple data-live-search="true" data-selected-text-format="count > 3"
                            data-actions-box="true">
                        </select>
                        <script>
                            $(function () {
                                $('#detailfilter-control-gender').selectpicker({});
                                $("#detailfilter-control-gender").selectpicker('selectAll');
                            });
                        </script>
                    </div>
                    <div class="col-12">
                        <div class="d-inline">
                            <select id="detailfilter-control-color-group" class="ml-auto" name="options[]"
                                class="selectpicker" multiple data-live-search="true"
                                data-selected-text-format="count > 3" data-actions-box="true">
                            </select>
                            <script>
                                $(function () {
                                    $('#detailfilter-control-color-group').selectpicker({});
                                    $("#detailfilter-control-color-group").selectpicker('selectAll');
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>