{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

<script type="text/javascript">
	d3.selectAll(".nav-item").classed("active", false);
	d3.select("#nav-link-d3").classed("active", true);
</script>
 
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<link rel="stylesheet" type="text/css" href="../static/css/multirange.css"></link>

<H2 class="mt-3">Main View</H2>
<div class="mt-3" id="example">
	<div class="mt-12">
		<p>
		  <label for="amount">Time range:</label>
		  <input type="text" id="amount" readonly style="border:0; color: red; font-weight:bold;">
		</p>
	</div>
	<div id="bubble"></div>
	<!-- <svg id="bubble" width="960" height="960" font-family="sans-serif" font-size="10" text-anchor="middle"></svg> -->
	<div class="mt-12">
		<input id="time_slider" type="range" multiple data-drag-middle value="1000,1200" onchange="sliderChange()" min="1000" max="2000"/>
	</div>
</div>

<!-- Create a div where the graph will take place -->
<div id="my_dataviz"></div>
<hr><br>
<div id="value-time2"></div>
<svg id="face_view_svg" width="960" height="550"></svg>
<h2>Time</h2>
<div class="row align-items-center">
  <div class="col-sm-2"><p id="value-time"></p></div>
  <div class="col-sm"><div id="slider-time"></div></div>
</div>
<div class="row align-items-center">
  <div class="col-sm-2"><p id="value-new-york-times"></p></div>
  <div class="col-sm"><div id="slider-new-york-times"></div></div>
</div>

<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/multirange.js"></script>
<script type="text/javascript" src="../static/js/bubblechart.js"></script>
<script type="text/javascript" src="../static/js/heatmap.js"></script>
<script type="text/javascript" src="https://unpkg.com/d3-simple-slider"></script>
<script type="text/javascript" src="../static/js/picslider.js"></script>

<script type="text/javascript">
	const time_slider = document.getElementById("time_slider");
	const timeRangeText = document.getElementById("amount");
	timeRangeText.value = "1000 - 1200"; // place holder value
 	function sliderChange(){
 		timeRangeText.value = time_slider.value.replace(",", " - ");
		 fetch_data(time_slider.value.split(",")[0], time_slider.value.split(",")[1])
		 	.then(data => {				 
				 update(data);
			});
	 }
	 fetch_data(1000,1200).then(data => {
		update(data); 
	});
</script>
{% endblock %}