{% extends "base.html" %}
{% block title %}OmniArt SkinTone{% endblock %}
{% block body %}

{% include "sections/splash.html" %}
{% include "sections/analyzer.html" %}
{% include "sections/heatmap.html" %}
{% include "sections/scrollview.html" %}

<script type="text/javascript" src="../static/js/main.js"></script>
<script type="text/javascript" src="../static/js/multirange.js"></script>
<script type="text/javascript" src="../static/js/bubblechart.js"></script>
<script type="text/javascript" src="../static/js/heatmap.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('.navbar', {
        duration: 2000,
        origin: 'bottom'
    });
    sr.reveal('#splash-frame', {
        duration: 2000,
        origin: 'top',
        distance: '300px',
        delay: 1000,
        viewFactor: 0.2
    });
    sr.reveal('#splash-right', {
        duration: 2000,
        delay: 2000,
        origin: 'bottom'
    });
    sr.reveal('#analyzer-section', {
        duration: 2000,
        origin: 'top',
        distance: '300px',
        delay: 1000,
        viewFactor: 0.2
    });
</script>
<script type="text/javascript" src="https://unpkg.com/d3-simple-slider"></script>
<script type="text/javascript" src="../static/js/picslider.js"></script>

<!-- <script type="text/javascript">
    const time_slider = document.getElementById("time_slider");
    const timeRangeText = document.getElementById("amount");
    timeRangeText.value = "1000 - 1200"; // place holder value
    function sliderChange() {
        timeRangeText.value = time_slider.value.replace(",", " - ");
        fetch_data(time_slider.value.split(",")[0], time_slider.value.split(",")[1])
            .then(data => {
                update(data);
            });
    }

    fetch_data(1000, 1200).then(data => {
        update(data);
    });
</script> -->

{% endblock %}