{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block body %}

    <script type="text/javascript">
        d3.selectAll(".nav-item").classed("active", false);
        d3.select("#nav-link-d3").classed("active", true);
    </script>

    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link rel="stylesheet" type="text/css" href="../static/css/multirange.css"></link>

    <div class="container-fluid mt-3" id="example">
    <div class="row row-eq-height">
        <div class="col-4 p-0">
				<div id="bubble"></div>
			</div>
			<div class="col-4 text-center">
            <svg class="faceframe" class="w-100" viewport="0 0 1200 1200" version="1.1"
                xmlns="http://www.w3.org/2000/svg">

                <svg id="overlay" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                    <image href="/static/img/century/14.jpg" x="225" y="225" width="750" height="750" />
                </svg>
                <svg preserveAspectRatio="xMidYMid meet" viewBox="0 0 1200 1200">
                    <image href="/static/img/frame.png" x="0" width="1200" />
                </svg>
                <use xlink:href="#overlay" />
            </svg>
        </div>
        <div class="col-4 p-0">
            <div id="my_dataviz"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 text-center">
                        <p>
                            <label for="amount">Time range:</label>
                            <input type="text" id="amount" readonly style="border:0; color: red; font-weight:bold;">
                        </p>
                        <div class="mt-12">
                            <input id="time_slider" type="range" multiple data-drag-middle value="1000,1200" onchange="sliderChange()"
                                   min="1000" max="2000"/>
                        </div>
                    </div>
                </div>
			</div>
			<div class="col-4">
				<div id="my_dataviz"></div>
			</div>
        </div>
        <div class="row">
            {% include "scroll_view.html" %}    
        </div>
    </div>

    <!-- Create a div where the graph will take place -->
    <script type="text/javascript" src="../static/js/main.js"></script>
    <script type="text/javascript" src="../static/js/multirange.js"></script>
    <script type="text/javascript" src="../static/js/bubblechart.js"></script>
    <script type="text/javascript" src="../static/js/heatmap.js"></script>

    <script type="text/javascript">
        const time_slider = document.getElementById("time_slider");
        const timeRangeText = document.getElementById("amount");
        timeRangeText.value = "1000 - 1200"; // place holder value
        function sliderChange() {
            timeRangeText.value = time_slider.value.replace(",", " - ");
            fetch_data(time_slider.value.split(",")[0], time_slider.value.split(",")[1])
                .then(data => {
                    update(data);
                });
        }

        fetch_data(1000, 1200).then(data => {
            update(data);
        });
    </script>
{% endblock %}