<link rel="stylesheet" type="text/css" href="../static/css/dropdown.css">

<!-- <div id="filtering" class="row"> -->
<div class="col-md-12">
  <div id="filtering" class="row">
    <div class="col-md-4">
      <button id="maleFilter" onclick="maleClick()" type="button" style="padding: 1vw;" class="btn btn-outline-secondary">Male</button>
      <button id="femaleFilter"  onclick="femaleClick()"  type="button" style="padding: 1vw;" class="btn btn-outline-secondary">Female</button>
    </div>
    
    <div class="col-md-4">
      <div class="dropdown">
        <button onclick="dropdownClick()" class="dropbtn">Shool type</button>
        <div id="myDropdown" class="dropdown-content">
          <input type="text" placeholder="Search.." id="myInput" onkeyup="filterFunction()">
          <a href="#dutch">Dutch</a>
          <a href="#italian">Italian</a>
          <a href="#french">French</a>
          <a href="#western">Western</a>
          <a href="#chinese">Chinese</a>
          <a href="#russian">Russian</a>
          <a href="#scandinavian">Scandinavian</a>
        </div>
      </div> 
    </div>

    <div class="col-md-4">
      <div class="row">
        <p> Age <input type="text" id="ageRange" readonly style="border:0; color: red; font-weight:bold;"></p>
      </div>
      <div class="row">
        <input id="age_slider" type="range" multiple data-drag-middle value="0,100" onchange="ageSliderChange()" min="0" max="100"/>
      </div>
    </div>
    <input id="colorselect" type='color' onchange="colorSelection()"></input>
  </div>
</div>
<div id="scroll" class="row">
</div>

<script type="text/javascript" src="../static/js/scroll_view.js"></script>
<script type="text/javascript" src="../static/js/multirange.js"></script>