<link rel="stylesheet" type="text/css" href="../static/css/dropdown.css">

<!-- <div id="filtering" class="row"> -->
<div class="col-md-12">
    <div id="filtering" class="row">
        <div class="col-md-4">
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-secondary active">
                    <input type="radio" name="options" id="option1" checked onclick="bothClick()"> Both
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option2" onclick="femaleClick()"> Female
                </label>
                <label class="btn btn-secondary">
                    <input type="radio" name="options" id="option3" onclick="maleClick()"> Male
                </label>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <select id="schoolGroupSelect" name="schoolGroups" multiple>
                </select>
            </div>
        </div>

        <div class="col-md-2">
            <div class="row">
                <select id="ageGroupSelect" name="ageGroups" multiple>
                    <option value="(0-2)">0-2</option>
                    <option value="(4-6)">4-6</option>
                    <option value="(8-12)">8-12</option>
                    <option value="(15-20)">15-20</option>
                    <option value="(25-32)">25-32</option>
                    <option value="(38-43)">38-43</option>
                    <option value="(48-53)">48-53</option>
                    <option value="(60-100)">60-100</option>
                </select>
            </div>
        </div>
        <input id="colorselect" type='color' onchange="colorSelection()"></input>
    </div>
</div>
<div id="scroll" class="row">
</div>

<script type="text/javascript" src="../static/js/scroll_view.js"></script>
<script type="text/javascript" src="../static/js/multirange.js"></script>